.tab-indicator {
  background: linear-gradient(140.73deg, #0093ed 4.72%, #00f3ab 96.52%);
  backdrop-filter: blur(1.35rem);
  border-radius: 0.32rem;
  position: absolute;
  bottom: 0;
  left: 0.2rem;
  right: 0.2rem;
  height: 0.08rem;
}
