.loading {
  animation-name: loading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

.gradient-text {
  background: linear-gradient(140.73deg, #0093ed 4.72%, #00f3ab 96.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text-error {
  background: linear-gradient(
    168.12deg,
    rgba(203, 119, 255, 0.64587) -168.74%,
    #ff0858 230.23%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
