.head-banner {
  background: rgba(23, 38, 54, 0.2);
  border: 1px solid #1a2835;
  backdrop-filter: blur(0.67rem);
  border-radius: 0.16rem;
  height: 2.68rem;
  margin-top: 0.65rem;
  display: flex;
}

.all-stakes-card {
  background: rgba(26, 40, 53, 0.2);
  border: 1px solid #1a2835;
  backdrop-filter: blur(0.67rem);
  border-radius: 0.16rem;
  width: 3.35rem;
  height: 4.05rem;
  padding: 0 0.24rem;
}
